:root {
    --header_background_color: rgb(32, 32, 37);
    --header_letters_color: rgb(255, 255, 255);
    --header_buttons_letters_color: rgb(255, 255, 255);
    --header_buttons_border_color: wheat;

    --footer_background_color: rgb(32, 32, 37);
    --footer_letters_color: rgb(255, 255, 255);
    --footer_buttons_letters_color: rgb(255, 255, 255);
    --footer_buttons_border_color: wheat;
}

header {
    background: var(--header_background_color);
    /* height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; */
    padding: 10px 20px 10px 20px;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
}

header>div>img {
    max-width: 200px;
    align-self: center;
}

.contact_div,
.contact_div>div {
    /* max-width: 200px; */
    align-self: center;
    text-align: center;
    color: var(--header_letters_color);
}

/* .icon-chevron-down {
    
} */
/* 
.bounce:hover {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
} */

.contact_div:hover,
.contact_div:hover>div {
    cursor: pointer;
    color: var(--header_buttons_border_color);
}

.icon-2x {
    font-size: 30px;
}

header>div {
    color: var(--header_letters_color);
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    margin-right: 20px;
    place-self: center;
}

header>div>p {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    outline: dotted;
    outline-width: 2px;
    padding: 2px;
}

header>nav {
    display: flex;
    white-space: nowrap;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    margin-right: 150px;
}

header>nav>a {
    color: var(--header_buttons_letters_color);
    -webkit-text-decoration: NonPe;
    text-decoration: None;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-right: 2px solid var(--header_buttons_border_color);
    width: 100%;
    /* margin-left: 10px; */
    padding: 0 5px 0 5px;
}

header>nav>a:hover,
header>nav>a:focus {
    color: var(--header_buttons_border_color);
    /* font-size: 23px; */
    text-decoration: none;
    transition: 0.25s;
    outline: none;
}

header>nav>a:first-child {
    font-size: 30px;
    /* margin-left: 20px; */
}

header>nav>a:last-child {
    border-right: none;
    margin-right: 20px;
}

#author, #author_hidden {
    outline: none;
    margin: 0 0 0 53px;
    padding: 0 0 10px 0;
}

#author_hidden{
    display: none;
}

#nav_menu_hidden {
    display: none;
    margin-right: 20px;
}

#menu_hidden {
    display: none;
    position: absolute;
    margin-top: 66px;
    translate: 164px;

}

#menu_hidden>a {
    color: var(--header_buttons_letters_color);
    background-color: var(--header_background_color);
    -webkit-text-decoration: NonPe;
    text-decoration: None;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid var(--header_buttons_border_color);
    width: 100%;
    margin-left: 10px;
    padding: 5px;
}

#menu_hidden>a:first-child {
    font-size: 30px;
}

#menu_hidden>a:last-child {
    border-bottom: none;
    margin-right: 20px;
}

#menu_hidden>a:hover,
#menu_hidden>a:focus {
    color: var(--header_buttons_border_color);
    text-decoration: none;
    transition: 0.25s;
    outline: none;
}

#nav_menu_button:hover,
#nav_menu_button:focus {
    color: var(--header_buttons_border_color);
    cursor: pointer;
    outline: none;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/01_basic/media/images/site_background.png');
}

footer {
    background: var(--footer_background_color);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

footer>div {
    display: block;
    white-space: nowrap;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    max-width: 23%;
    min-width: 200px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer>div>img {
    max-width: 200px;
    margin-bottom: 15px;
}

footer>div>p {
    white-space: normal;
    color: var(--footer_letters_color);
}

footer>div>nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 20px;
}

footer>div>nav>a {
    margin-right: 10px;
    color: var(--footer_buttons_letters_color);
    -webkit-text-decoration: None;
    text-decoration: None;
    place-self: center;
    padding: 5px;
}

footer>div>nav>a:hover,
footer>div>nav>a:focus {
    color: var(--footer_buttons_border_color);
    transition: 0.25s;
    text-decoration: none;
}

.image_icon {
    width: 55px;
    /* background: var(--footer_buttons_letters_color); */
}

.project_link:hover,
.project_link:focus {
    background: var(--header_buttons_letters_color);
    border-radius: 8px;
    /* border: 1px solid var(--header_buttons_letters_color); */
}

.final_credits {
    display: block;
    place-self: center;
    width: 100%;
    padding: 5px 20px 5px 20px;
}

.final_credits>p {
    text-align: center;
    color: var(--footer_letters_color);
}

@media (max-width: 1335px) {
    header>nav {
        margin: 0;
    }
}

@media (max-width: 1180px) {
    header>div {
        display: block;
    }

    header>nav {
        display: none;
    }

    #nav_menu_hidden {
        display: flex;
        justify-content: right;
        color: var(--header_letters_color)
    }

    footer>div>img {
        max-width: 100%;
    }
}

@media (max-width: 880px) {
    footer>div {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 35%;
    }

    /* footer {
        justify-content: center;
    } */
}

@media (max-width: 540px) {

    .icon-mobile-phone,
    .icon-envelope {
        display: none;
    }

    #nav_menu_button {
        font-size: x-large;
    }

    header>div>img {
        max-width: 150px;
    }

    header>div {
        margin: 0;
    }

    #nav_menu_hidden {
        margin-right: 3px;
    }

    #author{
        display: none;
    }

    #author_hidden {
        display: block;
        font-size: smaller;
        margin-left: 40px;
    } 

    footer>div {
        max-width: 100%;
        width: 100%;
    }

    #menu_hidden {
        margin-top: 55px;
        translate: 202px;
    }

    
}

@media (max-width: 400px) {
    footer {
        padding-left: 0;
        padding-right: 0;
    }
}

/* @media (max-width: 340px) {
    #author {
        margin: 0;
    }
} */