:root {
    --color_very_light_pink: #C7C7C7;
    --color_white: #FFFFFF;
    --color_text_input_field: #F7F7F7;
    --color_black: #000000;
    --color_hospital_green: #ACD9B2;
    --color_dark: #232830;
    --color_red_error_1: #e9322d;
    --color_red_error_2: #f8b9b7;
}

/* ------------------------------- BASE STYLES ------------------------------- */

h1,
h2,
h3,
h4,
p,
label,
button {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}

button {
    color: var(--color_white);
    background: var(--color_hospital_green);
    border: none;
    width: 200px;
    border-radius: 20px;
}

.custom-row {
    display: flex;
    /* margin: 20px; */
    width: 100%;
}

.custom-col {
    display: block;
    margin: 20px;
    width: max-content;
}

/* ------------------------------- TEXTS STYLES ------------------------------- */

.t--blod {
    font-weight: bold;
}

.t--medium {
    font-weight: 500;
}

.t--regular {
    font-weight: 300;
}

.t--18pt {
    font-size: 18pt;
}

.t--16pt {
    font-size: 16pt;
}

.t--14pt {
    font-size: 14pt;
}

.t--align-c {
    text-align: center;
}

.t--align-l {
    text-align: left;
}

.t--align-r {
    text-align: right;
}

.t--line-40pt {
    line-height: 40pt;
}

/* ------------------------------- INPUTS STYLES ------------------------------- */

input.is-invalid {
    border-color: var(--color_red_error_1);
    -webkit-box-shadow: 0 0 8px var(--color_red_error_2);
    -moz-box-shadow: 0 0 8px var(--color_red_error_2);
    box-shadow: 0 0 8px var(--color_red_error_2);
}

/* ------------------------------- ESPECIAL DIVS STYLES ------------------------------- */

.f--justify-c {
    justify-content: center;
}

.f--justify-l {
    justify-content: left;
}

.f--justify-r {
    justify-content: right;
}



/* H1/4-light Quicksand-Light_,
Bold,

18pt Center H1/1-title Quicksand-Light_,
Bold,

18pt H1/3-price Roboto,
Bold,

18pt H1/2-body Quicksand-Light_,
Regular,

18pt H2/body/high emphasis Quicksand-Light_,
Bold,

16pt H2/1-title Quicksand-Light_,
Bold,

16pt Center H3/3-price Roboto,
Bold,

16pt Center H2/body/low emphasis Quicksand-Light_,
Medium,

16pt H2/2-body Quicksand-Light_,
Regular,

16pt H3/1-title/high emphasis Quicksand-Light_,
Bold,

14pt H3/1-title Quicksand-Light_,
Bold,

14pt H3/2-body Quicksand-Light_,
Regular,
14pt Center */