<div id="nav_menu_hidden">
    <i class="icon-list icon-3x" id="nav_menu_button"></i>
    <nav id="menu_hidden">
        <a href="/01_basic/index.html">Home</a>
        <a href="" onclick="f_change_page('games.html', event)">VideoGames</a>
        <a href="" onclick="f_change_page('series.html', event)">Series</a>
        <a href="" onclick="f_change_page('films.html', event)">Films</a>
        <a href="" onclick="f_change_page('things.html', event)">Things of interest</a>
    </nav>
</div>
<div>
    <img src="/01_basic/media/images/logo.png" alt="page_logo">
    <p id="author">por Gonzalo Salinas.</p>
    <p id="author_hidden">por Gonzalo S.</p>
</div>

<nav>
    <a href="/01_basic/index.html">Home</a>
    <a href="" onclick="f_change_page('games.html', event)">VideoGames</a>
    <a href="" onclick="f_change_page('series.html', event)">Series</a>
    <a href="" onclick="f_change_page('films.html', event)">Films</a>
    <a href="" onclick="f_change_page('things.html', event)">Things of interest</a>
</nav>


<div class="contact_div">
    <!-- <img id="contact_info_icon" src="/01_basic/media/images/icons/contact_info_icon.png"
        alt="contact_info_icon"> -->
    <!-- <i class="icon-globe icon-3x"></i> -->
    <i class="icon-info-sign icon-3x"></i> 
    <div>
        <i class="icon-chevron-down icon-1x"></i>
    </div>
</div>

<!-- <div>
        <p id="phone"><i class="icon-mobile-phone icon-1x"></i> +56 (9)12345678</p>
        <p id="email"><i class="icon-envelope-alt icon-1x"></i> contacto@correo.cl</p>
        <p id="direction"><i class="icon-building icon-1x"></i> Chile, Santiago, Av. Principal #1234</p>
    </div> -->