:root {
    --white_color: white;
    --blue_color: #3b8df1;
}

.right_div {
    display: flex;
    justify-content: right;
}


#back_to_top_div {
    display: none;
    position: fixed;
    top: 15%;
    justify-content: right;
    margin: 0px 40px 0px 0px;
    transition: 1s;
    color: var(--white_color);
    opacity: 0;
}

#back_to_top_div>a {
    text-decoration: none;

}


#back_to_top_icon {
    font-size: 150px;
    background-image: url("/01_basic/media/images/white_01.png");
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 30px;
}

@media (max-width:1070px) {
    #back_to_top_icon {
        font-size: 100px;
        background-position-x: 12px;
        background-position-y: 22px;
        background-size: 60px 46px;
    }

    #back_to_top_div {
        top: 110px;
        margin: 0px 20px 0px 0px;
    }
}

@media (max-width:585px) {
    #back_to_top_icon {
        font-size: 70px;
        background-position-x: 7px;
        background-position-y: 16px;
        background-size: 45px 30px;
    }
}