<div class="header-container f--justify-sb">
    <div id="hidden-nav-menu">
        <i class="icon-list icon-2x s--success-color" id="nav_menu_button"></i>
        <nav id="hidden-nav">
            <a class="t--blod t--16pt" href="/01_basic_info_site/index.html">All</a>
            <a class="t--blod t--12pt" href="" onclick="f_change_page('clothes.html', event)">Clothes</a>
            <a class="t--blod t--12pt" href="" onclick="f_change_page('furniture.html', event)">Furniture</a>
            <a class="t--blod t--12pt" href="" onclick="f_change_page('technology.html', event)">Technology</a>
            <a class="t--blod t--12pt" href="" onclick="f_change_page('others.html', event)">Others</a>
        </nav>
    </div>
    <div class="custom-col s--margin-4px s--align-c">
        <img class="header-logo-image" src="/02_fake_store/media/images/dialog_01.png" alt="">
    </div>
    <div class="custom-col s--margin-4px">
        <nav class="header-nav">
            <a class="t--blod t--16pt" href="/01_basic_info_site/index.html">All</a>
            <a class="t--blod t--12pt" href="" onclick="f_change_page('clothes.html', event)">Clothes</a>
            <a class="t--blod t--12pt" href="" onclick="f_change_page('furniture.html', event)">Furniture</a>
            <a class="t--blod t--12pt" href="" onclick="f_change_page('technology.html', event)">Technology</a>
            <a class="t--blod t--12pt" href="" onclick="f_change_page('others.html', event)">Others</a>
        </nav>
    </div>
    <div class="custom-col s--align-c s--margin-4px">
        <div class="custom-row">
            <div class="custom-col s--margin-4px">
                <button class="t--line-24pt s--success-color s--white-backg s--success-border s--width-100px">
                    Sign in
                </button>
            </div>
            <div class="custom-col s--margin-4px">
                <button class="t--line-24pt s--white-color s--success-backg s--width-100px">Sign up</button>
            </div>
        </div>
    </div>
</div>